@import 'devise';
@import 'buttons';

hr {
    width: 100%;
    color: #f4f4f4;
}

h2 {
    /* New Comment */

    height: 36px;
    left: 0%;
    right: 54.64%;
    top: calc(50% - 36px/2);
    margin-bottom: 70px;

    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 36px;
    /* identical to box height */

    color: #000000;
}

h3 {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#user_email {
    border-color: #f4f4f4;
}

#user_password {
    border-color: #f4f4f4;
}

#user_password_confirmation {
    border-color: #f4f4f4;
}

.container {
    padding: 16px 16px;
    width: 100%;
}

.header-title {
    display: flex;
    justify-content: space-between;
}

.text_field {
    border-color: #f4f4f4;
}

