
.text {
    /* Name */
    height: 20px;
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;

}

.text-field {
    margin: 20px 0 20px 0;
    width: 90%;
    left: 5%;
    right: 5%;
    height: 40px;
    background-color: #F4F4F4;
    border-radius: 10px;
}
